body {
    background-color: rgb(255, 198, 41);


}

ul {
    background-color: rgb(248, 148, 65);
    list-style: none;
    /* padding: 8px; */
    margin: 0;
    padding: 3px;

}

ul {

    display: flex;
    justify-content: left;
    
}
li{
    border: 2px;
    font-size: 30px ;
    margin-right: 5px;
    /* padding: 8px ; */
    
}
li :hover{

    background-color: brown;
}


.noDefault {

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Remove underline */
    color: inherit;
    /* margin: 5px; */
}



.cakeImg {
    display: flex;
        
justify-content: space-evenly;    
}
.CakeName {

    display: flex;
    justify-content: space-evenly;
    font-size: 22;


}
p{
    background-color: rgb(255, 166, 0);
    margin: 5px;
    padding: 5px;
    border: 3px solid black;
}
.hov {
    display: none;

}
.c:hover .hov{
    display: block;
}

